body {
  margin: 0;
}
.text {
  margin: 10px;
}
nav {
  background-color: #d5d5d5;
  overflow: hidden;
}
nav a {
  padding: 15px 20px;
  float: left;
  text-align: center;
}
nav a:link {
  text-decoration: none;
  color: black;
}
nav a:visited {
  color: black;
}
nav a:hover {
  background-color: grey;
}
.grid-container {
  width: 840px;
  height: 420px;
  margin: auto;
  /*overflow: visible;*/
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item {
 height: 200px;
 width: 200px;
 padding: 5px;
}
img.slides { 
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}
#labyrinth {
  width: 800px;
  height: 340px;
  margin: 20px auto;
  background-color: rgb(38, 32, 58);
  color: white;
}
#labyrinth a:visited, #labyrinth a:link, #cbird a:visited, #cbird a:link {
  color: white;
}
#labyrinth p, #cbird p {
  margin: 30px;
}
#cbird {
  width: 800px;
  height: 250px;
  margin: auto;
  background-color: black;
  color: white;
}
#cbird img {
  margin: 0px auto 20px 20px;
  display: block;
}
canvas {
  padding: 20px 30px 40px;
  width: 129px;
  height: 65px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
#moon {
  background-color: #1e2331;
}